In [19]:
import pandas as pd
import numpy as np

In [96]:
def split_sheet(df):
    # DIVIDING ROW
    # Take the first row that has an empty value in the first column
    empty_row = df[df[0].isnull()].index.tolist()[0]
    print(f"Empty row: {empty_row}")
    
    # VALID CELLS
    # Take each pair of columns that has a value in the pair-left column in the first data row
    # (so the first row after the Dividing Row)
    valid_cells = []
    for i in range(1, df.shape[1], 2):
        if pd.notnull(df.loc[empty_row+1, i]) \
        and pd.notnull(df.loc[empty_row+1+1, i+1]):
            valid_cells.append(i)
# #         if (df.loc[empty_row+1, i] != "NaN") and \
# #         (df.loc[empty_row+1+1, i+1] != "NaN"):
#             valid_cells.append(i)
    print(valid_cells)
    
    # CELL INFORMATION
    # The top section of the sheet contains the cell information
    df_info = df.iloc[0:empty_row]
    df_info.index = df_info[0]
    df_info = df_info.drop(columns=0)
    df_info = df_info[valid_cells].transpose()
    df_identity = df_info[df_info.columns[0:1]]
    df_sort = df_info[df_info.columns[1:]].astype(float)
    df_info = df_identity.join(df_sort)
#     df_info["Date"] = pd.to_datetime(df_info["Date"]).dt.strftime("%m-%d")
    
    # CELL MEASUREMENTS
    # The bottom section of the sheet contains the cell measurements
    df_bottom = df.iloc[empty_row+1:].reset_index(drop=True)
    df_bottom = df_bottom.astype(float)
    df_measurements = pd.DataFrame()
    for i in valid_cells:
        print(i)
        df_temp = df_bottom.loc[:, i:i+1]
        df_temp.columns = ["current", "frequency"]
        df_temp = df_temp.drop(index=df_temp.index[df_temp["current"].isna()])
        df_temp.insert(0, "cell", i)
        df_temp["normed_current"] = df_temp["current"] - df_temp["current"][0]
        df_temp = df_temp.drop(index=0)
        df_measurements = pd.concat([df_measurements, df_temp])
    
    return df_info, df_measurements

In [97]:
with open("IM FI Sorted.xlsx", "rb") as f:
    data = f.read()
    
raw_data = pd.read_excel(data, sheet_name=None, header=None, dtype=str)
processed_data = {}

sheet_names = raw_data.keys()

for i, sheet in enumerate(sheet_names):
    print(sheet)
    df_sheet = raw_data[sheet][:]
    df_info, df_measurements = split_sheet(df_sheet)
    
    processed_data[sheet] = {
        "info": df_info,
        "measurements": df_measurements,
        "max_current": df_measurements["current"].max(),
        "max_normed_current": df_measurements["normed_current"].max(),
        "max_frequency": df_measurements["frequency"].max()
    }
    
processed_data

XE BL
Empty row: 6
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55]
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
XE Post
Empty row: 6
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55]
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
37
39
41
43
45
47
49
51
53
55
ICA BL
Empty row: 6
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
ICA Post
Empty row: 6
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
ICA XE
Empty row: 6
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

{'XE BL': {'info': 0         Date  Cell No  Type     Cap    Rin    Rheo
  1   23.02.2022      2.0   1.0  1675.0   11.7  1206.0
  3   01.03.2022      2.0   1.0   423.0   42.7   262.0
  5   01.03.2022      3.0   1.0   350.0   49.4   267.0
  7   03.03.2022      2.0   1.0  1213.0   15.9   872.0
  9   28.03.2022      1.0   1.0   369.0   23.2  1903.0
  11  28.03.2022      2.0   1.0   452.0   31.0   639.0
  13  28.03.2022      3.0   1.0   369.0   26.2   230.0
  15  30.03.2022      2.0   1.0   500.0   20.8   491.0
  17  31.03.2022      1.0   1.0   373.0   53.1   301.0
  19  01.04.2022      1.0   1.0   627.0   26.6  1003.0
  21  01.04.2022      2.0   1.0   440.0   42.7   427.0
  23  03.05.2022      1.0   1.0   446.0   46.4   244.0
  25   29.9.2022      1.0   1.0  1177.0   12.6  1435.0
  27  30.09.2022      1.0   1.0   362.0   74.0   241.0
  29   3.10.2022      2.0   1.0   273.0   34.8   341.0
  31   5.10.2022      3.0   1.0   256.0   43.6   625.0
  33  23.02.2022      1.0   2.0    97.0  194.0   317.0
  35  01.03.2022      1.0   2.0    76.0  189.0    58.7
  37  03.03.2022      1.0   2.0   358.0  178.0    52.2
  39   8.03.2022      1.0   2.0    76.0  495.0    29.8
  41  18.03.2022      5.0   2.0   315.0  107.0   127.0
  43  30.03.2022      3.0   2.0   261.0   53.1   272.0
  45   5.10.2022      1.0   2.0   120.0   65.3   115.0
  47   20.1.2023      1.0   2.0   165.0   27.2   399.0
  49   20.1.2023      2.0   2.0   118.0   53.8   174.0
  51  23.01.2023      1.0   2.0   211.0   87.0   123.0
  53  23.01.2023      2.0   2.0   192.0   45.8   125.0
  55  23.01.2023      3.0   2.0   171.0  114.0   142.0,
  'measurements':      cell      current  frequency  normed_current
  1       1  1261.039961   3.176620       31.469922
  2       1  1279.870039   5.313496       50.300000
  3       1  1299.139961   5.186722       69.569922
  4       1  1316.570039   5.740528       87.000000
  5       1  1331.159980   6.854010      101.589941
  ..    ...          ...        ...             ...
  649    55  1463.880000  96.153847     1337.419995
  650    55  1464.889961  99.009903     1338.429956
  651    55  1465.939961  95.238098     1339.479956
  652    55  1466.980000  96.153847     1340.519995
  653    55  1468.050020  94.339622     1341.590015

  [15961 rows x 4 columns],
  'max_current': 6842.080000000001,
  'max_normed_current': 5745.250000000001,
  'max_frequency': 131.578948974609},
 'XE Post': {'info': 0         Date  Cell No  Type  Cap  Rin  Rheo
  1   23.02.2022      2.0   NaN  NaN  NaN   NaN
  3   01.03.2022      2.0   NaN  NaN  NaN   NaN
  5          NaN      3.0   NaN  NaN  NaN   NaN
  7   03.03.2022      2.0   NaN  NaN  NaN   NaN
  9   28.03.2022      1.0   NaN  NaN  NaN   NaN
  11  28.03.2022      2.0   NaN  NaN  NaN   NaN
  13  28.03.2022      3.0   NaN  NaN  NaN   NaN
  15  30.03.2022      2.0   NaN  NaN  NaN   NaN
  17  31.03.2022      1.0   NaN  NaN  NaN   NaN
  19  01.04.2022      1.0   NaN  NaN  NaN   NaN
  21  01.04.2022      2.0   NaN  NaN  NaN   NaN
  23  03.05.2022      1.0   NaN  NaN  NaN   NaN
  25   29.9.2022      1.0   NaN  NaN  NaN   NaN
  27   30.9.2022      2.0   NaN  NaN  NaN   NaN
  29   3.10.2022      2.0   NaN  NaN  NaN   NaN
  31   5.10.2022      3.0   NaN  NaN  NaN   NaN
  33  23.02.2022      1.0   NaN  NaN  NaN   NaN
  37  03.03.2022      1.0   NaN  NaN  NaN   NaN
  39   8.03.2022      1.0   NaN  NaN  NaN   NaN
  41  18.03.2022      5.0   NaN  NaN  NaN   NaN
  43  30.03.2022      3.0   NaN  NaN  NaN   NaN
  45   5.10.2022      1.0   NaN  NaN  NaN   NaN
  47   20.1.2023      1.0   NaN  NaN  NaN   NaN
  49   20.1.2023      2.0   NaN  NaN  NaN   NaN
  51  23.01.2023      1.0   NaN  NaN  NaN   NaN
  53  23.01.2023      2.0   NaN  NaN  NaN   NaN
  55  23.01.2023      3.0   NaN  NaN  NaN   NaN,
  'measurements':      cell      current  frequency  normed_current
  1       1   840.800020   4.539265       22.020020
  2       1   856.989961   6.176652       38.209961
  3       1   872.720039   6.361323       53.940039
  4       1   887.359980   6.825939       68.579980
  5       1   900.580000   7.564297       81.800000
  ..    ...          ...        ...             ...
  563    55  1451.320039  72.463768     1313.760034
  564    55  1452.580000  79.365082     1315.019995
  565    55  1453.850020  78.125000     1316.290015
  566    55  1455.109980  80.000000     1317.549976
  567    55  1456.530000  70.422539     1318.969995

  [17878 rows x 4 columns],
  'max_current': 7434.780000000001,
  'max_normed_current': 6550.520019531251,
  'max_frequency': 120.481925964355},
 'ICA BL': {'info': 0         Date  Cell No  Type    Cap    Rin    Rheo
  1   15.03.2022      5.0   1.0  917.0   19.0  1054.0
  3   15.04.2022      1.0   1.0  359.0   54.0   591.0
  5   15.04.2022      2.0   1.0  261.0   86.0   134.0
  7   18.04.2022      1.0   1.0  382.0   55.0   241.0
  9   18.04.2022      2.0   1.0  202.0   86.4   388.0
  11  19.04.2022      1.0   1.0  969.0   20.4   889.0
  13  22.04.2022      1.0   1.0  396.0   40.9   211.0
  15  22.04.2022      2.0   1.0  518.0   24.1   881.0
  17  25.04.2022      1.0   1.0  608.0   21.7   643.0
  19  25.04.2022      2.0   1.0  468.0   22.0   744.0
  21  28.04.2022      1.0   1.0  189.0   52.0   411.0
  23  14.04.2022      1.0   2.0  230.0   36.5   234.0
  25  21.04.2022      2.0   2.0  345.0   72.0    90.9
  27  22.04.2022      3.0   2.0  341.0   38.0   283.0
  29  03.05.2022      2.0   2.0   95.0  145.0    67.0
  31  16.01.2023      1.0   2.0  113.0  115.0   130.6
  33  17.01.2023      2.0   2.0  111.0   35.0   347.0
  35  17.01.2023      3.0   2.0   79.0  131.0    83.3
  37  18.01.2023      3.0   2.0  241.0  113.0   137.0
  39  18.01.2023      4.0   2.0  139.0  167.0    56.8,
  'measurements':      cell      current  frequency  normed_current
  1       1  1107.209980   3.352330       29.829980
  2       1  1118.839961   8.598453       41.459961
  3       1  1127.680000  11.312217       50.300000
  4       1  1135.970039  12.048193       58.590039
  5       1  1144.739961  11.402509       67.359961
  ..    ...          ...        ...             ...
  143    39   510.719990  63.694267      469.389990
  144    39   512.340010  62.500000      471.010010
  145    39   513.950020  61.728394      472.620020
  146    39   515.650020  58.479530      474.320020
  147    39   517.209980  64.935066      475.879980

  [11812 rows x 4 columns],
  'max_current': 4023.29015625,
  'max_normed_current': 3648.610083007813,
  'max_frequency': 79.3650817871093},
 'ICA Post': {'info': 0         Date  Cell No  Type  Cap  Rin  Rheo
  1   15.03.2022      5.0   NaN  NaN  NaN   NaN
  3   15.04.2022      1.0   NaN  NaN  NaN   NaN
  5   15.04.2022      2.0   NaN  NaN  NaN   NaN
  7   18.04.2022      1.0   NaN  NaN  NaN   NaN
  9   18.04.2022      2.0   NaN  NaN  NaN   NaN
  11  19.04.2022      1.0   NaN  NaN  NaN   NaN
  13  22.04.2022      1.0   NaN  NaN  NaN   NaN
  15  22.04.2022      2.0   NaN  NaN  NaN   NaN
  17  25.04.2022      1.0   NaN  NaN  NaN   NaN
  19  25.04.2022      2.0   NaN  NaN  NaN   NaN
  21  28.04.2022      1.0   NaN  NaN  NaN   NaN
  23  14.04.2022      1.0   NaN  NaN  NaN   NaN
  25  21.04.2022      2.0   NaN  NaN  NaN   NaN
  27  22.04.2022      3.0   NaN  NaN  NaN   NaN
  29  03.05.2022      2.0   NaN  NaN  NaN   NaN
  31  16.01.2023      1.0   NaN  NaN  NaN   NaN
  33  17.01.2023      2.0   NaN  NaN  NaN   NaN
  35  17.01.2023      3.0   NaN  NaN  NaN   NaN
  37  18.01.2023      3.0   NaN  NaN  NaN   NaN
  39  18.01.2023      4.0   NaN  NaN  NaN   NaN,
  'measurements':      cell      current  frequency  normed_current
  1       1  2174.649922   7.183908       13.909961
  2       1  2184.960078   9.708738       24.220117
  3       1  2193.760078  11.363636       33.020117
  4       1  2201.580000  12.787724       40.840039
  5       1  2207.710078  16.313213       46.970117
  ..    ...          ...        ...             ...
  143    39   518.800020  60.240963      484.020020
  144    39   520.390010  62.893082      485.610010
  145    39   522.190010  56.179775      487.410010
  146    39   523.900020  58.139534      489.120020
  147    39   525.809980  53.475937      491.029980

  [12874 rows x 4 columns],
  'max_current': 7434.780000000001,
  'max_normed_current': 7336.650000000001,
  'max_frequency': 72.9926986694335},
 'ICA XE': {'info': 0         Date  Cell No  Type  Cap  Rin  Rheo
  1   15.03.2022      5.0   NaN  NaN  NaN   NaN
  3   15.04.2022      1.0   NaN  NaN  NaN   NaN
  5   15.04.2022      2.0   NaN  NaN  NaN   NaN
  7   18.04.2022      1.0   NaN  NaN  NaN   NaN
  9   18.04.2022      2.0   NaN  NaN  NaN   NaN
  11  19.04.2022      1.0   NaN  NaN  NaN   NaN
  13  22.04.2022      1.0   NaN  NaN  NaN   NaN
  15  22.04.2022      2.0   NaN  NaN  NaN   NaN
  17  25.04.2022      1.0   NaN  NaN  NaN   NaN
  19  25.04.2022      2.0   NaN  NaN  NaN   NaN
  21  28.04.2022      1.0   NaN  NaN  NaN   NaN
  23  14.04.2022      1.0   NaN  NaN  NaN   NaN
  25  21.04.2022      2.0   NaN  NaN  NaN   NaN
  27  22.04.2022      3.0   NaN  NaN  NaN   NaN
  29  03.05.2022      2.0   NaN  NaN  NaN   NaN
  31  16.01.2023      1.0   NaN  NaN  NaN   NaN
  33  17.01.2023      2.0   NaN  NaN  NaN   NaN
  35  17.01.2023      3.0   NaN  NaN  NaN   NaN
  37  18.01.2023      3.0   NaN  NaN  NaN   NaN
  39  18.01.2023      4.0   NaN  NaN  NaN   NaN,
  'measurements':      cell      current  frequency  normed_current
  1       1  1066.800020   6.246096       16.010059
  2       1  1080.250020   7.434944       29.460059
  3       1  1089.589961  10.706638       38.800000
  4       1  1102.659980   7.651109       51.870020
  5       1  1110.730000  12.391574       59.940039
  ..    ...          ...        ...             ...
  143    39   549.919990  59.523811      513.729993
  144    39   551.640010  58.479530      515.450012
  145    39   553.340010  58.479530      517.150012
  146    39   554.950020  62.500000      518.760022
  147    39   556.680000  58.139534      520.490002

  [12781 rows x 4 columns],
  'max_current': 7434.780000000001,
  'max_normed_current': 7345.7599975585945,
  'max_frequency': 81.3008117675781}}

In [45]:
for sheet in processed_data:
    print(processed_data[sheet]["info"])

0         Date Cell No Type   Cap   Rin  Rheo
1   23.02.2022       2    1  1675  11.7  1206
3   01.03.2022       2    1   423  42.7   262
5   01.03.2022       3    1   350  49.4   267
7   03.03.2022       2    1  1213  15.9   872
9   28.03.2022       1    1   369  23.2  1903
11  28.03.2022       2    1   452    31   639
13  28.03.2022       3    1   369  26.2   230
15  30.03.2022       2    1   500  20.8   491
17  31.03.2022       1    1   373  53.1   301
19  01.04.2022       1    1   627  26.6  1003
21  01.04.2022       2    1   440  42.7   427
23  03.05.2022       1    1   446  46.4   244
25   29.9.2022       1    1  1177  12.6  1435
27  30.09.2022       1    1   362    74   241
29   3.10.2022       2    1   273  34.8   341
31   5.10.2022       3    1   256  43.6   625
33  23.02.2022       1    2    97   194   317
35  01.03.2022       1    2    76   189  58.7
37  03.03.2022       1    2   358   178  52.2
39   8.03.2022       1    2    76   495  29.8
41  18.03.2022       5    2   315   107   127
43  30.03.2022       3    2   261  53.1   272
45   5.10.2022       1    2   120  65.3   115
47   20.1.2023       1    2   165  27.2   399
49   20.1.2023       2    2   118  53.8   174
51  23.01.2023       1    2   211    87   123
53  23.01.2023       2    2   192  45.8   125
55  23.01.2023       3    2   171   114   142
0         Date Cell No Type  Cap  Rin Rheo
1   23.02.2022       2  NaN  NaN  NaN  NaN
3   01.03.2022       2  NaN  NaN  NaN  NaN
5          NaN       3  NaN  NaN  NaN  NaN
7   03.03.2022       2  NaN  NaN  NaN  NaN
9   28.03.2022       1  NaN  NaN  NaN  NaN
11  28.03.2022       2  NaN  NaN  NaN  NaN
13  28.03.2022       3  NaN  NaN  NaN  NaN
15  30.03.2022       2  NaN  NaN  NaN  NaN
17  31.03.2022       1  NaN  NaN  NaN  NaN
19  01.04.2022       1  NaN  NaN  NaN  NaN
21  01.04.2022       2  NaN  NaN  NaN  NaN
23  03.05.2022       1  NaN  NaN  NaN  NaN
25   29.9.2022       1  NaN  NaN  NaN  NaN
27   30.9.2022       2  NaN  NaN  NaN  NaN
29   3.10.2022       2  NaN  NaN  NaN  NaN
31   5.10.2022       3  NaN  NaN  NaN  NaN
33  23.02.2022       1  NaN  NaN  NaN  NaN
35  01.03.2022       1  NaN  NaN  NaN  NaN
37  03.03.2022       1  NaN  NaN  NaN  NaN
39   8.03.2022       1  NaN  NaN  NaN  NaN
41  18.03.2022       5  NaN  NaN  NaN  NaN
43  30.03.2022       3  NaN  NaN  NaN  NaN
45   5.10.2022       1  NaN  NaN  NaN  NaN
47   20.1.2023       1  NaN  NaN  NaN  NaN
49   20.1.2023       2  NaN  NaN  NaN  NaN
51  23.01.2023       1  NaN  NaN  NaN  NaN
53  23.01.2023       2  NaN  NaN  NaN  NaN
55  23.01.2023       3  NaN  NaN  NaN  NaN
0         Date Cell No Type  Cap   Rin   Rheo
1   15.03.2022       5    1  917    19   1054
3   15.04.2022       1    1  359    54    591
5   15.04.2022       2    1  261    86    134
7   18.04.2022       1    1  382    55    241
9   18.04.2022       2    1  202  86.4    388
11  19.04.2022       1    1  969  20.4    889
13  22.04.2022       1    1  396  40.9    211
15  22.04.2022       2    1  518  24.1    881
17  25.04.2022       1    1  608  21.7    643
19  25.04.2022       2    1  468    22    744
21  28.04.2022       1    1  189    52    411
23  14.04.2022       1    2  230  36.5    234
25  21.04.2022       2    2  345    72   90.9
27  22.04.2022       3    2  341    38    283
29  03.05.2022       2    2   95   145     67
31  16.01.2023       1    2  113   115  130.6
33  17.01.2023       2    2  111    35    347
35  17.01.2023       3    2   79   131   83.3
37  18.01.2023       3    2  241   113    137
39  18.01.2023       4    2  139   167   56.8
0         Date Cell No Type  Cap  Rin Rheo
1   15.03.2022       5  NaN  NaN  NaN  NaN
3   15.04.2022       1  NaN  NaN  NaN  NaN
5   15.04.2022       2  NaN  NaN  NaN  NaN
7   18.04.2022       1  NaN  NaN  NaN  NaN
9   18.04.2022       2  NaN  NaN  NaN  NaN
11  19.04.2022       1  NaN  NaN  NaN  NaN
13  22.04.2022       1  NaN  NaN  NaN  NaN
15  22.04.2022       2  NaN  NaN  NaN  NaN
17  25.04.2022       1  NaN  NaN  NaN  NaN
19  25.04.2022       2  NaN  NaN  NaN  NaN
21  28.04.2022       1  NaN  NaN  NaN  NaN
23  14.04.2022       1  NaN  NaN  NaN  NaN
25  21.04.2022       2  NaN  NaN  NaN  NaN
27  22.04.2022       3  NaN  NaN  NaN  NaN
29  03.05.2022       2  NaN  NaN  NaN  NaN
31  16.01.2023       1  NaN  NaN  NaN  NaN
33  17.01.2023       2  NaN  NaN  NaN  NaN
35  17.01.2023       3  NaN  NaN  NaN  NaN
37  18.01.2023       3  NaN  NaN  NaN  NaN
39  18.01.2023       4  NaN  NaN  NaN  NaN
0         Date Cell No Type  Cap  Rin Rheo
1   15.03.2022       5  NaN  NaN  NaN  NaN
3   15.04.2022       1  NaN  NaN  NaN  NaN
5   15.04.2022       2  NaN  NaN  NaN  NaN
7   18.04.2022       1  NaN  NaN  NaN  NaN
9   18.04.2022       2  NaN  NaN  NaN  NaN
11  19.04.2022       1  NaN  NaN  NaN  NaN
13  22.04.2022       1  NaN  NaN  NaN  NaN
15  22.04.2022       2  NaN  NaN  NaN  NaN
17  25.04.2022       1  NaN  NaN  NaN  NaN
19  25.04.2022       2  NaN  NaN  NaN  NaN
21  28.04.2022       1  NaN  NaN  NaN  NaN
23  14.04.2022       1  NaN  NaN  NaN  NaN
25  21.04.2022       2  NaN  NaN  NaN  NaN
27  22.04.2022       3  NaN  NaN  NaN  NaN
29  03.05.2022       2  NaN  NaN  NaN  NaN
31  16.01.2023       1  NaN  NaN  NaN  NaN
33  17.01.2023       2  NaN  NaN  NaN  NaN
35  17.01.2023       3  NaN  NaN  NaN  NaN
37  18.01.2023       3  NaN  NaN  NaN  NaN
39  18.01.2023       4  NaN  NaN  NaN  NaN

In [38]:
df_info

0         Date Cell No Type   Cap   Rin  Rheo
1   23.02.2022       2    1  1675  11.7  1206
3   01.03.2022       2    1   423  42.7   262
5   01.03.2022       3    1   350  49.4   267
7   03.03.2022       2    1  1213  15.9   872
9   28.03.2022       1    1   369  23.2  1903
11  28.03.2022       2    1   452    31   639
13  28.03.2022       3    1   369  26.2   230
15  30.03.2022       2    1   500  20.8   491
17  31.03.2022       1    1   373  53.1   301
19  01.04.2022       1    1   627  26.6  1003
21  01.04.2022       2    1   440  42.7   427
23  03.05.2022       1    1   446  46.4   244
25   29.9.2022       1    1  1177  12.6  1435
27  30.09.2022       1    1   362    74   241
29   3.10.2022       2    1   273  34.8   341
31   5.10.2022       3    1   256  43.6   625
33  23.02.2022       1    2    97   194   317
35  01.03.2022       1    2    76   189  58.7
37  03.03.2022       1    2   358   178  52.2
39   8.03.2022       1    2    76   495  29.8
41  18.03.2022       5    2   315   107   127
43  30.03.2022       3    2   261  53.1   272
45   5.10.2022       1    2   120  65.3   115
47   20.1.2023       1    2   165  27.2   399
49   20.1.2023       2    2   118  53.8   174
51  23.01.2023       1    2   211    87   123
53  23.01.2023       2    2   192  45.8   125
55  23.01.2023       3    2   171   114   142

In [39]:
df_measurements

     cell      current  frequency  normed_current
1       1  1261.039961   3.176620       31.469922
2       1  1279.870039   5.313496       50.300000
3       1  1299.139961   5.186722       69.569922
4       1  1316.570039   5.740528       87.000000
5       1  1331.159980   6.854010      101.589941
..    ...          ...        ...             ...
649    55  1463.880000  96.153847     1337.419995
650    55  1464.889961  99.009903     1338.429956
651    55  1465.939961  95.238098     1339.479956
652    55  1466.980000  96.153847     1340.519995
653    55  1468.050020  94.339622     1341.590015

[15961 rows x 4 columns]

In [22]:
with open("IM FI Sorted.xlsx", "rb") as f:
    data = f.read()
    
raw_data = pd.read_excel(data, sheet_name=None, header=None, dtype=str)
processed_data = {}

sheet_names = raw_data.keys()

for i, sheet in enumerate(sheet_names):
    df_sheet = raw_data[sheet][:]
    empty_row = df_sheet[df_sheet[0].isna()].index.tolist()[0]
    print(empty_row)
    break
df_sheet

6

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,Date,23.02.2022,NaN,01.03.2022,NaN,01.03.2022,NaN,03.03.2022,NaN,28.03.2022,...,20.1.2023,NaN,20.1.2023,NaN,23.01.2023,NaN,23.01.2023,NaN,23.01.2023,NaN
1,Cell No,2,NaN,2,NaN,3,NaN,2,NaN,1,...,1,NaN,2,NaN,1,NaN,2,NaN,3,NaN
2,Type,1,NaN,1,NaN,1,NaN,1,NaN,1,...,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN
3,Cap,1675,NaN,423,NaN,350,NaN,1213,NaN,369,...,165,NaN,118,NaN,211,NaN,192,NaN,171,NaN
4,Rin,11.7,NaN,42.7,NaN,49.4,NaN,15.9,NaN,23.2,...,27.2,NaN,53.8,NaN,87,NaN,45.8,NaN,114,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
valid_cells = []
for i in range(1, df_sheet.shape[1], 2):
    if df_sheet.loc[empty_row+1, i] != "NaN":
        valid_cells.append(i)
print(valid_cells)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55]

In [ ]:


def read_excel_file(uploaded_file, container):
	with container:
		temp_text = st.text("Loading datafile...")
		temp_progress = st.progress(0)

	raw_data = pd.read_excel(uploaded_file, sheet_name=None, header=None)

	processed_data = {}

	sheet_names = raw_data.keys()

	for i, sheet in enumerate(sheet_names):
		temp_text.write(f"Processing sheet {i+1} / {len(sheet_names)}...")
		temp_progress.progress(i/len(sheet_names))

		df_sheet = raw_data[sheet][:]
		df_info, df_measurements = split_sheet(df_sheet)

		processed_data[sheet] = {
			"info": df_info,
			"measurements": df_measurements,
			"max_current": df_measurements["current"].max(),
			"max_normed_current": df_measurements["normed_current"].max(),
			"max_frequency": df_measurements["frequency"].max()
		}

	temp_progress.progress(1.0)
	st.session_state["processed_data"] = processed_data

	time.sleep(0.5)
	temp_progress.empty()
	temp_text.empty()
	state["file_processed"] = True
	chosen_file = None